@model Personagem

<div class="mb-3">
    <label asp-for="Nome"></label>
    <input asp-for="Nome" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="NivelEnergia"></label>
    <input asp-for="NivelEnergia" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="DataCriacao"></label>
    <input asp-for="DataCriacao" class="form-control" />
</div>
<div class="mb-3">
    <label asp-for="Empresa"></label>
    <select asp-for="Empresa" asp-items="@Html.GetEnumSelectList<Empresa>()" class="form-select">
        <option>Selecione</option>
    </select>
</div>
<div class="mb-3">
    <input asp-for="Capa" />
    <label asp-for="Capa"></label>
</div>
