@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-action="cadastrar" asp-controller="paciente">Cadastro de Paciente</a>
    <a asp-action="index" asp-controller="paciente">Lista de Paciente</a>
</div>
