@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!--Link para a página de cadastro de personagem-->
    <a asp-action="cadastrar" asp-controller="personagem">
        Cadastro de Personagem
    </a>
    <a asp-action="Index" asp-controller="personagem">
        Lista de personagens
    </a>
</div>
